@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #0f141e;
    background:rgb(231, 234, 237);
    margin-bottom: 30px;
}

.info {
    margin-bottom: 20px;
    display: flex;
}

.info-text {
    margin-left: 40px;
}

.info-text p {
    font-style: italic;
    font-weight: bold;
    color: #86898f;
    margin: 0;
}

.info-text h4 {
    margin-bottom: 5px;
}

.card {
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 15px;
}

.card h2 {
    margin-bottom: 10px;
}

.bg-green {
    background-color: #e5efe7;
}

.bg-red {
    background-color:#ffe5e5;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 5px;
}

thead {
    text-align: left;
}

.bg-yellow {
    background-color:#fff9dc;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: orangered;
}

a:active {
    color: blue;
}

img {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.btn {
    background: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
}

.btn:hover{
opacity: .8;
color: orangered;
}

.list {
    padding: 0 20px;
}
.list li {
    color: #86898f;
    margin-bottom: 5px;
}

.link-list {
    list-style: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.form h2 {
    text-align: center;
}

.form-row {
margin-bottom: 10px;
}

.form-row, .form-group {
    display: inline-block;
    margin-right: 20px;
    width: 50%;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #86898f; 
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}
@media (max-width: 650px){
    .info {
        display: block;
        text-align: center;
    }
}